In [ ]:
-- 1. Schema & Data Types 
-- 1.1 Column Types
--IDs: Varchar
SELECT 
    TABLE_NAME,
    COLUMN_NAME,
    DATA_TYPE,
    IS_NULLABLE
FROM INFORMATION_SCHEMA.COLUMNS
WHERE TABLE_SCHEMA = 'dbo'  AND COLUMN_NAME LIKE '%_id'
ORDER BY TABLE_NAME, ORDINAL_POSITION;

-- 1.2 Date & TimeStamp: datetime
SELECT 
    TABLE_NAME,
    COLUMN_NAME,
    DATA_TYPE,
    IS_NULLABLE
FROM INFORMATION_SCHEMA.COLUMNS
WHERE TABLE_SCHEMA = 'dbo'  AND 
    COLUMN_NAME LIKE '%_date' OR 
    COLUMN_NAME LIKE '%timestamp' OR
    COLUMN_NAME LIKE '%_at'
ORDER BY TABLE_NAME, ORDINAL_POSITION;

-- 1.3 Numeric Measures: Price, Cost, Score - float or bigint
SELECT 
    TABLE_NAME,
    COLUMN_NAME,
    DATA_TYPE,
    IS_NULLABLE
FROM INFORMATION_SCHEMA.COLUMNS
WHERE TABLE_SCHEMA = 'dbo'  AND 
    COLUMN_NAME LIKE '%score' OR 
    COLUMN_NAME LIKE '%value' OR
    COLUMN_NAME LIKE '%price' OR
    COLUMN_NAME LIKE '%sequential'
ORDER BY TABLE_NAME, ORDINAL_POSITION;

-- 2. Primary / Unique Keys
-- 2.1 uniqueness of order_id in olist_orders_cleaned
SELECT COUNT (*) 
FROM olist_orders_cleaned; --99433

SELECT COUNT(DISTINCT order_id)
FROM olist_orders_cleaned; -- 99433

-- 2.2 uniqueness of customer_id in olist_customers_cleaned
-- customer_id is unique per order. 
SELECT COUNT (*) 
FROM olist_customers_cleaned; -- 99441

SELECT COUNT (DISTINCT customer_unique_id) 
FROM olist_customers_cleaned; -- 96096

SELECT COUNT (DISTINCT customer_id) 
FROM olist_customers_cleaned; -- 99441

-- 2.3 uniqueness of product_id in 
SELECT COUNT (*) 
FROM olist_products_cleaned; -- 32951

SELECT COUNT (DISTINCT product_id) 
FROM olist_products_cleaned; -- 32951

-- 3. Foreign Keys
-- 3.1 Orders exist in order_items ** 8 orders in order_items are not in orders
SELECT oi.order_id
FROM olist_items_cleaned oi
LEFT JOIN olist_orders_cleaned o ON oi.order_id = o.order_id
WHERE o.order_id IS NULL;

-- 3.2 Orders exist in payments ** 8 orders in payments are not in orders
SELECT p.order_id
FROM olist_payments_cleaned p
LEFT JOIN olist_orders_cleaned o ON p.order_id = o.order_id
WHERE o.order_id IS NULL;

-- 3.3 Orders exist in reviews ** 8 orders in reviews are not in orders
SELECT r.order_id
FROM olist_reviews_cleaned r
LEFT JOIN olist_orders_cleaned o ON r.order_id = o.order_id
WHERE o.order_id IS NULL;

-- 3.4 Products in order_items exist in products
SELECT oi.product_id
FROM olist_items_cleaned oi
LEFT JOIN olist_products_cleaned p ON oi.product_id = p.product_id
WHERE p.product_id IS NULL;

-- 3.5 -- Sellers in order_items exist in sellers
SELECT oi.seller_id
FROM olist_items_cleaned oi
LEFT JOIN olist_sellers_cleaned s ON oi.seller_id = s.seller_id
WHERE s.seller_id IS NULL;

-- 4. Nulls in key columns
-- orders
SELECT COUNT(*) AS null_orders
FROM olist_orders_cleaned
WHERE order_id IS NULL;

-- customers
SELECT COUNT(*) AS null_customers
FROM olist_customers_cleaned
WHERE customer_id IS NULL;

-- products
SELECT COUNT(*) AS null_products
FROM olist_products_cleaned
WHERE product_id IS NULL;

-- sellers
SELECT COUNT(*) AS null_sellers
FROM olist_sellers_cleaned
WHERE seller_id IS NULL;

-- 5. Outliers & Invalid Values
-- 5.1 negative or zero prices/freight value
SELECT *
FROM olist_items_cleaned
WHERE price <= 0 OR freight_value < 0;

SELECT *
FROM olist_payments_cleaned
WHERE payment_value < 0;

SELECT *
FROM olist_payments_cleaned
WHERE payment_installments = 0;

SELECT p.order_id, p.payment_installments, p.payment_type, o.order_status
FROM olist_payments_cleaned p
LEFT JOIN olist_orders_cleaned o
ON p.order_id=o.order_id
WHERE p.payment_installments = 0;

SELECT p.order_id, p.payment_installments, p.payment_type, o.order_status
FROM olist_payments_cleaned p
LEFT JOIN olist_orders_cleaned o
ON p.order_id=o.order_id
WHERE p.payment_type = 'credit_card' OR p.payment_installments = 0
ORDER BY p.payment_installments;

SELECT COLUMN_NAME, DATA_TYPE
FROM INFORMATION_SCHEMA.COLUMNS
WHERE TABLE_SCHEMA = 'dbo'  AND COLUMN_NAME = 'coordinates';

SELECT COUNT(*)
FROM olist_customers_cleaned
WHERE customer_state LIKE '%[^a-zA-Z]%';

SELECT *
FROM olist_customers_cleaned
WHERE customer_state LIKE '%[^a-zA-Z]%';

SELECT *
FROM olist_sellers_cleaned
WHERE seller_state LIKE '%[^a-zA-Z]%';